<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="rejestracja.component.css">
    <style>

    </style>
</head>
<body>
    <div id="rejestracja">
        <div class='fieldset'>
          <legend>Rejestracja wizyty</legend>
          <form action=#>
            <div class='row'>
              <label for='IDLekarza'>Lekarz</label>
              <select name="doctor">
                <option *ngFor="let doctor of doctors" [value]="doctors">
                    {{doctor.name +" " +doctor.surname}}</option>
              </select>
            </div>
            <div class='row'>
              <label for="Pesel">Numer PESEL</label>
              <input type="text" placeholder="Numer PESEL"  name='Pesel' data-required="true">
            </div>
            <div class='row'>
                <label for="Imię">Imię</label>
                <input type="text" placeholder="Imię"  name='Imię' data-required="true">
            </div>
            <div class='row'>
                <label for="Nazwisko">Nazwisko</label>
                <input type="text" placeholder="Nazwisko"  name='Nazwisko' data-required="true">
              </div>
            <div class='row'>
                <label for='IDTerminu'>Termin</label>
                <select name="Termin" id="IDTerminu"></select>
            </div>
            <div class='row'>
                <label for='IDPrzychodni'>Przychodnia</label>
                <select name="clinic">
                    <option *ngFor="let clinic of clinics" [value]="clinics">
                        {{clinic.address}}</option>
                  </select>
            </div>
            <input type="submit" value="Zarejestruj wizytę">
          </form>
        </div>
      </div>

      <div class="wrapper">
        <div class="sidebar">
            <div class="profile">
                <h3>System rejestracji pacjentów</h3>
            </div>

            <ul>
                <li>
                    <a routerLink="/rejestracja" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="item">Zarejestruj wizytę</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/odwolanie" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="item">Odwołaj wizytę</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/terminy" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <span class="item">Sprawdź dostępność terminów</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>